* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 500vh;
  background: url(dc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Gilroy', sans-serif;
  color: white;
}

